<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules For Admission</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon"
        href="https://ik.imagekit.io/7de5cntkw/1692626704665-photoaidcom-cropped%20(1).jpeg?updatedAt=1738048156918"
        type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="firstnav">
        <div class="nav-part phone"><i class="fas fa-phone-alt"></i> (+91) 9477-949494</div>
        <div class="nav-part email"><i class="fas fa-envelope"></i> headoffice@nimtt.co.in</div>
        <div class="nav-part location"><i class="fas fa-map-marker-alt"></i> Follow us on Social Media

        </div><br>
        <div class="nav-part social">
            <a href="https://www.facebook.com/nimtt.co.in/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/NIMTTKOLKATA"><i class="fab fa-x-twitter"></i></a>
            <a href="https://www.pinterest.com/nimttheadoffice/"><i class="fab fa-pinterest"></i></a>
            <a href="https://www.linkedin.com/company/nimtt-college"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.youtube.com/@nimtt2126"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/nimttindia/"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="nav-part members">
            <button class="member-btn">
                Members <i class="fas fa-chevron-down"></i>
            </button>
            <div class="dropdown">
                <a href="life-member.html">Life Member</a>
                <a href="premium-member.html">Premium Member</a>
                <a href="corporate-member.html">Corporate Member</a>
                <a href="assiociate-member.html">Associate Member</a>
            </div>
        </div>

        <div class="nav-part email">
            <i class="fas fa-question-circle"></i>
            <a href="faq.html" style="text-decoration: none; color: inherit;">FAQ</a>
        </div>

    </div>
    <div class="navbar">
        <div class="logo">
            <a href="">
                <img src="https://ik.imagekit.io/7de5cntkw/nimtt-newlogo-dOqN8yQvbaHopnp3.avif?updatedAt=1746554872837"
                    alt="Logo">
        </div>
    <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li><a href="companyprofile/index.html">About</a></li>
        <li class="dropdown">
            <a href="#">Courses
                <img src="https://ik.imagekit.io/7de5cntkw/down-arrow.png?updatedAt=1746556476005" class="dropdown-arrow"
                    alt="arrow">
            </a>
            <div class="dropdown-content" id="coursedropdown">
                <!-- Row 1 -->
                <a href="department/course2.html">Arts</a>
                <a href="department/course4.html">Commerce</a>
                <a href="department/course3.html">Science</a>
                <a href="department/course5.html">Management</a>
                <a href="department/course6.html">Computer Science</a>
                <!-- Row 2 -->
                <a href="department/course18.html">Engineering</a>
                <a href="department/course7.html">Law</a>
                <a href="department/course12.html">Agriculture</a>
                <a href="department/course20.html">Hotel and Hospitality</a>
                <a href="department/course8.html">Pharmacy</a>
                <!-- Row 3 -->
                <a href="department/course1.html">School Education</a>
                <a href="department/course9.html">Nursing</a>
                <a href="department/course10.html">Paramedical Science</a>
                <a href="department/course11.html">Fashion and Animation</a>
                <a href="department/course13.html">Yoga</a>
                <!-- Row 4 -->
                <a href="department/course14.html">Education</a>
                <a href="department/course16.html">Library Science</a>
                <a href="department/course17.html">Journalism & Masscommunication</a>
                <a href="department/course15.html">Environment Science</a>
                <a href="department/course19.html">Research-Indian</a>
                <!-- Row 5 (add more or leave blank if only 20) -->
                <a href="https://maintenance.greatcareers.in/vocational-course/">Vocational Education</a>
                <a href="https://nimttresearch.ac.in/">Research-Foreign</a>
                <a href="#">International MBA</a>
                <a href="https://nimtt.edu.in/">Autonomous Education</a>
                <a href="#">Fire and Safety</a>
                <!-- …up to 30 items total… -->
            </div>
        </li>
    
    
        <li class="dropdown">
            <a href="#">Collaboration
                <img src="https://ik.imagekit.io/7de5cntkw/down-arrow.png?updatedAt=1746556476005" class="dropdown-arrow"
                    alt="arrow">
            </a>
            <div class="dropdown-content">
                <a href="/autonomous-course">Autonomous</a>
                <a href="/indian-university-course">Indian University</a>
                <a href="/foreign-university-course">Foreign University</a>
                <a href="/foco-model">FOCO Model</a>
            </div>
        </li>
    
        <li class="dropdown">
            <a href="#">Student Zone
                <img src="https://ik.imagekit.io/7de5cntkw/down-arrow.png?updatedAt=1746556476005" class="dropdown-arrow"
                    alt="arrow">
            </a>
            <div class="dropdown-content">
                <a href="/student-loan">Student Loan </a>
                <a href="/student-sponsorship">Student Sponsorship</a>
                <a href="/rules">Rules Of Admission</a>
                <a href="/student-scholarship">Student Scholarship</a>
                <a href="/facilities">Student Facilities</a>
            </div>
        </li>
    
        <li><a href="/contact-us">Contact</a></li>
        <li><a href="https://blog.nimtt.co.in/">Blog</a></li>
    
        <li class="dropdown login-dropdown">
            <button class="log-in">
                Login
                <img src="https://ik.imagekit.io/7de5cntkw/down-arrow.png?updatedAt=1746556476005" class="dropdown-arrow"
                    alt="arrow">
            </button>
            <div class="dropdown-content" id="logindropdown">
                <a href="/student-login">Student Login</a>
                <a href="/center-login">Center Login</a>
                <a href="/staff-login">Staff Login</a>
                <a href="/admin-login">Admin Login</a>
            </div>
        </li>
    </ul>

        <div class="hamburger" id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>




    <div class="rules">
        <h2 class="rules-heading">Rules and Regulations for admission</h2>
        <div class="rules-container">
            <ol class="rules-list">
                <li>All students can download the syllabus from the NIMTT website E-library or from the University
                    Website.
                </li>
                <li>All students should visit the University or Board's website before taking admission.</li>
                <li>All who are taking admission to NIMTT in any course is well understood that each and everyone has
                    read
                    all our Admission Rules and Regulations carefully given on the official website.</li>
                <li>All students will get the University/Board's Registration card/ID Card/Enrollment Number, wherever
                    applicable, before appearing for the First Semester Exam or First Year Exam, as the case may be.
                </li>
                <li>The students should preserve University/Board's ID/Registration Card till the completion of the
                    course.
                </li>
                <li>Exam announcements will be made regularly on the University or Board's website. To know more,
                    students
                    can contact the EXAMINATION CELL Coordinator at NIMTT.</li>
                <li>If there is any sort of error in any marksheet like spelling mistake, Father/Mother's name error, or
                    any
                    other serious errors, the student should report to NIMTT within a maximum of 15 days only after
                    receiving the marksheet/certificates. No support will be provided after the said period, even on
                    making
                    extra payments. In such cases, NIMTT cannot be made responsible, and no legal cases can be initiated
                    on
                    the same as NIMTT is only a Facilitator for a certain period of time.</li>
                <li>All students can check the NIMTT Registration details with their Photograph on the NIMTT website
                    after
                    15-30 days of taking admission in NIMTT, subject to University terms of Admission in the particular
                    course. To view, please click the button "VERIFY REGISTRATION".</li>
                <li>Course Fees, once paid, cannot be refunded under any circumstances.</li>
                <li>For any study materials, students can contact the student support department at <a
                        href="mailto:studentsupport@nimtt.co.in">studentsupport@nimtt.co.in</a>.</li>
                <li>For any account-related queries, please contact <a
                        href="mailto:accounts@nimttgroup.com">accounts@nimttgroup.com</a>.</li>
                <li>For class-related queries, please send mail to <a
                        href="mailto:principal@nimtt.co.in">principal@nimtt.co.in</a> or <a
                        href="mailto:a.registrar@nimttgroup.com">a.registrar@nimttgroup.com</a> at the Academic section.
                </li>
                <li>All students should make the payment in favour of NIMTT and collect the Bar-coded money receipt.
                </li>
                <li>In any case, if the problem is not solved, you can mail to <a
                        href="mailto:ceo@nimttgroup.com">ceo@nimttgroup.com</a>.</li>
                <li>Students can access the Library Facility/E-Library by becoming a Library Member. This Facility is
                    effective from 1st June 2011.</li>
                <li>Any services to any student(s) cease after a maximum of two years of passing out from our
                    institution or
                    discontinued for two years, as the case may be. For any requirement after two years, the student
                    should
                    contact the University or Board directly. For any unfortunate event, NIMTT cannot be held
                    responsible,
                    nor can NIMTT be held legally liable.</li>
                <li>For submission of Assignments, please contact the Assistant Registrar of the Academic section.</li>
                <li>Any application regarding change of University/Board/Exam Center is not acceptable after 15 days of
                    taking admission. We can take the request, and if changes could be made, certain charges will be
                    applicable as per University/Board guidelines.</li>
                <li>REFUND is only possible in case the University stops admission in the particular course. (Acceptance
                    of
                    any other form of application does not mean that the refund will be made). Moreover, the refund
                    process
                    will be strictly as per norms, and it will take a minimum time period of 3 months to 6 months or
                    more
                    with deductions as deemed fit. The application must be submitted by hard copy scan only with the
                    candidate's signature. ONLY MAILS WILL NOT BE ENTERTAINED.</li>
                <li>Any issue related to administration, the decision of the "Registrar" or "Management Body" will be
                    considered final.</li>
                <li>For any queries regarding the ongoing admission process or exams, the Student or Father/Mother of
                    the
                    Student can only talk to our NIMTT Team. No outsiders are entertained for any such updates. In case
                    of a
                    student who has no father/mother, they need to update their Guardian's name, if the student wishes,
                    in
                    the Admission form during the time of admission only.</li>
                <li>Once the student is registered and has received any documents (ID Card/Registration Card/Enrollment
                    No/Hall ticket or any other document related to University), NIMTT is no longer responsible if any
                    delay
                    is made from the University side related to any credentials (Declaration of result/Hard copy of
                    Marksheet/Certificate). In this regard, NIMTT will always do the needful as required for the benefit
                    of
                    the students.</li>
                <li>NIMTT provides only job assistance and Industrial Internship for selected courses. There is no job
                    guarantee given for any course(s).</li>
                <li>NIMTT Management is not responsible for any verbal commitments made by Marketing Personnel to any
                    students regarding Placement, Education Loan, any kind of job, or any discount or scholarship at the
                    time of admission. Certain regulations are to be followed to avail some facilities.</li>
                <li>NIMTT is not responsible for any admission if the University rejects the admission form of any
                    student
                    due to any kind of eligibility issues arising from the University side or for any fake marksheet
                    submission or regarding attendance or pass/fail of any student during examination.</li>
                <li>Students can deposit fees in the college account or through our website Gateway by clicking the "Pay
                    Online-Easebuzz" button or "Razorpay" button or any payment link sent in their mail.</li>
                <li>No request for Refund in any form will be entertained from students who have taken admission through
                    Educational Loan. Only requests for change of course may be entertained, but the sole decision lies
                    with
                    the Academic Head and the University Cell.</li>
                <li>If any student takes admission by paying a token amount/booking amount in any course, then he/she is
                    eligible to get the University/Board's documents only after paying the complete balance of the
                    Admission
                    Payment and only after a certain time as per the University/Board's Rules. In such cases, a refund
                    in
                    any form is also not applicable for the deposited amount if the student is unable to pay the balance
                    amount.</li>
            </ol>
        </div>
    </div>




<div class="footer">
    <footer>
        <div class="container">
            <div class="footer-grid">
                <!-- Column 1 -->
                <div class="footer-column">
                    <h3>Academic Services</h3>
                    <ul>
                        <li><a href="https://online.rejuviera.in/authorised-center/" class="hover-underline">Authorised
                                Center</a></li>
                        <li><a href="https://online.rejuviera.in/authorised-career-advisor/"
                                class="hover-underline">Authorised Career Advisor</a></li>
                        <li><a href="/join-as-PhD-supervisor" class="hover-underline">Join
                                as PhD Supervisor</a></li>
                        <li><a href="/join-faculty" class="hover-underline">Join Faculty</a></li>
                    </ul>
                </div>
                <!-- Column 2 -->
                <div class="footer-column">
                    <h3>Engage with Us</h3>
                    <ul>
                        <li><a href="/refer-and-earn" class="hover-underline">Refer and Earn</a></li>
                        <li><a href="/publish-your-article" class="hover-underline">Publish Your Article</a>
                        </li>
                        <li><a href="/celebrate-with-us" class="hover-underline">Celebrate with Us</a></li>
                        <li><a href="https://nimttindia.blogspot.com/" class="hover-underline">Blog</a></li>
                        <li><a href="https://offers.nimtt.ac.in/" class="hover-underline">Festival Offer</a></li>
                        <li><a href="/sponsorship-a-child-with-us" class="hover-underline">Sponsor A Child
                                <br>With Us</a></li>
                    </ul>
                </div>
                <!-- Column 3 -->
                <div class="footer-column">
                    <h3>Other Website</h3>
                    <ul>
                        <li><a href="https://nimttresearch.ac.in/" class="hover-underline">Research Foundation</a>
                        </li>
                        <li><a href="https://nimtt.edu.in/" class="hover-underline">Autonomous Education</a></li>
                        <li><a href="https://nimttnursingcollege.com/" class="hover-underline">Nursing College</a>
                        </li>
                        <li><a href="https://nimttparamedicalcollege.com/" class="hover-underline">Paramedical
                                College</a></li>
                        <li><a href="https://nimtt.online/" class="hover-underline">Online Acdemy</a></li>
                </div>
                <!-- Column 4 -->
                <div class="footer-column">
                    <h3>Quick links</h3>
                    <ul>
                        <li><a href="/privacy-and-policy" class="hover-underline">Privacy Policy</a></li>
                        <li><a href="/terms-and-condition" class="hover-underline">Terms of Service</a></li>
                        <li><a href="/terms-and-condition" class="hover-underline">Refund Policy</a></li>
                        <li><a href="https://student.nimtt.co.in/apply-for-job.html" class="hover-underline">Apply for
                                Job </a></li>
                    </ul>
                </div>

                <!-- Column 5 -->
                <div class="footer-column">
                    <h3>Follow Us</h3>
                    <div class="icons-container">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/nimtt.co.in/" class="social-icon"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/nimttindia/" class="social-icon"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/nimtt-college" class="social-icon"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.youtube.com/@nimtt2126" class="social-icon"><i
                                    class="fab fa-youtube"></i></a>
                            <a href="https://www.pinterest.com/nimttheadoffice/" class="social-icon"><i
                                    class="fab fa-pinterest-p"></i></a>
                            <a href="https://twitter.com/NIMTTKOLKATA" class="social-icon"><i
                                    class="fab fa-x-twitter"></i></a>
                            <a href="https://mastodon.social/@nimtt
" class="social-icon"><i class="fab fa-threads"></i></a>
                        </div>

                    </div>

                </div>
                <div class="footer-column">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="">+91 9477-949494</a></li>
                        <li><a href="mailto:headoffice@nimtt.co.in">headoffice@nimtt.co.in</a></li>
                    </ul>
                </div>

                <div class="payment-icons">
                    <a href="https://easebuzz.in/pay/NIMTTDo5SQ" target="_blank">
                        <img src="https://res.cloudinary.com/dzwk8diyi/image/upload/v1748686928/Easebuzz_mzpujx.jpg"
                            alt="Easebuzz Payment" />
                    </a>
                </div>
                <div class="payment-icons">
                    <a href="https://razorpay.me/@nimttcomputertechnologyprivat" target="_blank">
                        <img src="https://res.cloudinary.com/dzwk8diyi/image/upload/v1748686928/RAZORPAY_ay4nfb.jpg"
                            alt="RAZORPAY Payment" />
                    </a>
                    <p class="payment-caption">Domestic & International Payment</p>
                </div>

            </div>
            <div class="footer-bottom">
                <p style="color: rgb(255, 255, 255);">© 2025 NIMTT Creative Team. All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>
    <script>  const hamburger = document.getElementById("hamburger");
        const menu = document.querySelector(".menu");
        let menuOpen = false;

        // Smooth Hamburger toggle using GSAP
        hamburger.addEventListener("click", () => {
            if (!menuOpen) {
                menu.classList.add("active");
                gsap.fromTo(menu,
                    { opacity: 0, y: -20 },
                    { opacity: 1, y: 0, duration: 0.4, ease: "power2.out" }
                );
            } else {
                gsap.to(menu, {
                    opacity: 0,
                    y: -20,
                    duration: 0.4,
                    ease: "power2.in",
                    onComplete: () => {
                        menu.classList.remove("active");
                    }
                });
            }
            menuOpen = !menuOpen;
        });
    </script>
</body>

</html>